.app-icon {
  display: flex;

  svg {
    width: 24px;
    height: 24px;
    color: #fff;
  }

  &.primary svg {
    color: #1ecd5d;
  }

  &.icon--large {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}