<div class="mx-gallery">
  @if(images.isPending()){
  <mx-spinner class="mx-gallery__spinner" />
  }
  @else if(images.isError()){
  <mx-loading-error (reloadData)="reloadData()" />

  }
  @else if(images.isSuccess()) {
  <p class="mx-gallery__count">{{page() * pageSize}} / {{imagesCount.data()?.data}}</p>
  <div class="mx-gallery__images">
    @for(image of images.data().data; track image.link){
    <div class="mx-gallery__image-wrapper">
      <img priority class="mx-gallery__image" fill referrerpolicy="no-referrer" [ngSrc]="image.link">
    </div>
    }
  </div>
  <button class="btn mx-gallery__btn mx-gallery__btn--next" (click)="nextPage()">
    <mx-icon type="chevronRight"></mx-icon>
  </button>
  @if(page() > 1){
  <button class="btn mx-gallery__btn mx-gallery__btn--prev" (click)="prevPage()"><mx-icon
      type="chevronLeft"></mx-icon></button>
  }
  }
</div>