<mx-query-state (reloadData)="reloadData()" [query]="images">
  <p class="mx-gallery__count">{{imagesCounter()}} / {{imagesCount.data()?.data}}</p>
  <div class="mx-gallery__images">
    @for(image of images.data()?.data; track image.id; let idx = $index){
    <div class="mx-gallery__card">
      <div class="mx-gallery__image-wrapper">
        <img priority="" [lightbox]="idx" [alt]="image.title ? image.title : ''" class="mx-gallery__image" fill
          referrerpolicy="no-referrer" [ngSrc]="image.link">
      </div>
      <div class="mx-gallery__views-date-row">
        <div class="mx-gallery__icons">
          <div class="mx-gallery__views">
            <mx-icon type="visibility"></mx-icon> {{image.views}}
          </div>
            <button class="btn" (click)="toggleFavorite(image)">
            @if(image.favorite){
              <mx-icon iconSize="small" type="heart"></mx-icon> 
            } @else{
              <mx-icon iconSize="small" type="heartOutline"></mx-icon> 
            }
          </button>
        </div>
        <span class="mx-gallery__added-date mx-chip">{{image.datetime*1000 | date: dateFormat}}</span>
      </div>
      <h2 class="mx-gallery__image-description">
        @if(image.title){
        {{image.title}}
        }@else {
        &dash;
        }
      </h2>
      <p class="mx-gallery__image-description">
        @if(image.description){
        {{image.description}}
        }@else {
        &dash;
        }
      </p>
      @if(image.name){
      <p class="mx-gallery__image-name">
        <span class="mx-chip">name:</span>
        {{image.name}}
      </p>
      }
    </div>
    }
  </div>
  @if(page() < maxPage()){ <button class="btn mx-gallery__btn mx-gallery__btn--next" (click)="nextPage()">
    <mx-icon type="chevronRight"></mx-icon>
    </button>
    }
    @if(page() > 0){
    <button class="btn mx-gallery__btn mx-gallery__btn--prev" (click)="prevPage()"><mx-icon
        type="chevronLeft"></mx-icon></button>
    }
</mx-query-state>