.layout {
  width: 100%;
  display: flex;
}

.main-container {
  height: 100%;
  width: 100%;
  flex: 8;
  padding: 16px;

}

.menu {
  position: sticky;
  top: 0;
  width: 100%;
  flex: 2;
  min-width: 150px;
  background-color: var(--gray-800);
  padding: 16px;
  min-height: 100dvh;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-data__username {
  font-weight: 600;
}