<div class="layout">
  <button class="btn menu-button" (click)="isMenuOpen=!isMenuOpen">
    <mx-icon type="menu"></mx-icon>
  </button>
  <nav class="menu" [ngClass]="{
    'menu--collapsed': !isMenuOpen
  }">
    <ng-container *ngIf="!isLoggedIn">
      <button type="button" class="btn" (click)="login()">login</button>
    </ng-container>
    <div class="user-data" *ngIf="isLoggedIn">
      <img class="user-data__image" referrerpolicy="no-referrer" width="50" height="50" [src]="userData?.avatar"
        alt="user avatar">
      <a class="user-data__username" target="_blank" [href]="'https://imgur.com/user/'+userData?.url">
        {{username}}
      </a>
    </div>
  </nav>
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
  <angular-query-devtools initialIsOpen />
</div>