.mx-albums {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mx-albums__album {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-800);
  border-radius: 8px;
}

.mx-albums__album-cover {
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: -16px -16px 0 -16px;
}

.mx-albums__image {
  object-fit: cover;
}

.mx-albums__title {
  font-size: 16px;
  font-weight: 600;
}